In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
import scipy

In [2]:
# Checking the version of matplotlib.
matplotlib.__version__

'3.7.1'

In [3]:
# This ensures the charts created are displayed in the notebook without the need to "call" them specifically.
%matplotlib inline

In [4]:
# making a path.
path = r'/Users/terencekeys/Downloads/Shawzz Folder/Data Analytics Immersion Files/Achievement 6 Data Sets/Chocolate Data Sets'

In [5]:
# Importing chocolate_ratings_cleaned.
choc_ratg_clnd = pd.read_csv(os.path.join(path, 'Changed', 'chocolate_ratings_cleaned.csv'), index_col = False)

# 6.2

In [6]:
# Dropping all other non-numeric columns for this exercises task.
choc_ratg_clnd2 = choc_ratg_clnd.drop(columns = ['Company (Manufacturer)', 'Company Location', 'Unnamed: 0'])

In [7]:
# Changed data frame name to df.
df = choc_ratg_clnd2

In [8]:
# Dataframe.
df

       REF  Review Date Cocoa Percent   Ingredients  Rating
0     2454         2019           76%      3- B,S,C    3.25
1     2458         2019           76%      3- B,S,C    3.50
2     2454         2019           76%      3- B,S,C    3.75
3     2542         2021           68%      3- B,S,C    3.00
4     2546         2021           72%      3- B,S,C    3.00
...    ...          ...           ...           ...     ...
2525  1205         2014           80%  4- B,S*,C,Sa    2.75
2526  1996         2017           75%      3- B,S,C    3.75
2527  2036         2018           75%      3- B,S,C    3.00
2528  2170         2018           70%      3- B,S,C    3.25
2529  2170         2018           72%      3- B,S,C    3.50

[2530 rows x 5 columns]

In [9]:
# Checking the data types.
df.dtypes

REF                int64
Review Date        int64
Cocoa Percent     object
Ingredients       object
Rating           float64
dtype: object

In [10]:
# Converting string/object to float.
df['Cocoa Percent'] = df['Cocoa Percent'].str.replace('%', '').astype(float)

In [11]:
df.dtypes

REF                int64
Review Date        int64
Cocoa Percent    float64
Ingredients       object
Rating           float64
dtype: object

In [12]:
df

       REF  Review Date  Cocoa Percent   Ingredients  Rating
0     2454         2019           76.0      3- B,S,C    3.25
1     2458         2019           76.0      3- B,S,C    3.50
2     2454         2019           76.0      3- B,S,C    3.75
3     2542         2021           68.0      3- B,S,C    3.00
4     2546         2021           72.0      3- B,S,C    3.00
...    ...          ...            ...           ...     ...
2525  1205         2014           80.0  4- B,S*,C,Sa    2.75
2526  1996         2017           75.0      3- B,S,C    3.75
2527  2036         2018           75.0      3- B,S,C    3.00
2528  2170         2018           70.0      3- B,S,C    3.25
2529  2170         2018           72.0      3- B,S,C    3.50

[2530 rows x 5 columns]